<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Page Client</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/styleClientPage.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    </head>
    <body>
        
        <div id = "main">
            JEUX PAS CHER ICI ! PARCE QUE C'EST GRATUIT
            <button onclick="goAcceuil()" > Acceuil </button>
            <div id="aligned">
                <div id = "choix">
                    <ul >
                        <li><button onclick="loadCaddie()" > Caddie </button></li>
                        <li><button onclick="loadCommande()" > Commande </button></li>
                        <li><button onclick="loadEdit()" > Edit </button></li>
                    </ul>
                </div>
                <div id = "infos">
                    
                </div>
            </div>
        </div>
    </body>
</html>
