body{
    background-color: #797572;
    background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;

    display: flex;
}
#main{
    color:yellow;
    background-color: rgba(200,200,200,.2);
    border-style:solid;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    width:55vw;
    height:700px;
}
#aligned{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:70%;
    padding: 3%;

}
#choix {
    float:left;
}

#infos{
    background-color: rgba(120,120,200,.8);
    border-radius: 10px;
    border-style: solid;
    float:right;
    width:50%;
    height:100%;

}