<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>servlet.DatabaseInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlet.Home</servlet-class>
    </servlet>
    <servlet>
<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>servlet.DatabaseInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlet.Home</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>SessionListener</servlet-name>
        <servlet-class>servlet.SessionListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionController</servlet-name>
        <servlet-class>servlet.SessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>servlet.HeaderServlet</servlet-class>
        <servlet-name>ProductsInJSON</servlet-name>
        <servlet-class>servlet.ProductsInJSON</servlet-class>

        <servlet-name>ProductsInJSON</servlet-name>
        <servlet-class>servlet.ProductsInJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsInJSON</servlet-name>
        <url-pattern>/ProductsInJSON</url-pattern>
        <servlet-name>SessionListener</servlet-name>
        <url-pattern>/SessionListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionController</servlet-name>
        <url-pattern>/SessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/HeaderServlet</url-pattern>
        <servlet-name>ProductsInJSON</servlet-name>
        <url-pattern>/ProductsInJSON</url-pattern>
